.App {
  text-align: center;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



/* */

.friends-container {
  background:white;
  width:100%;
}
.friends-card{
  display:flex;
  justify-content: center;
  margin:20px auto;
  padding:20px;
  width:30%;
  flex-wrap:wrap;
  background:gray;
  border:1px solid black;
}
